<!DOCTYPE html>
<html>
  <head>
    {{#if title}}
    <title>{{title}} - Twitio</title>
    {{else}}
    <title>Twitio - Online Video Downloader</title>
    {{/if}}
    <meta name="description" content="{{description}}.">
    <meta name="keywords" content="{{keywords}}, twitio, youtube, video, downloader, thintry, braitenx, branwith, social,">
    <!-- CDN -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <!-- CDN -->
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
